@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro");
body{
    font-family: 'Crimson Pro', sans-serif;
    font-size: 48px;
    text-align: center;
    background-image: url(bg.jpg);
}

#particles-js
{
	height: 100%;
  width: 100%;
  position: fixed;
  z-index: -100;
  top:0;
  left:0;
}

button{
    position: absolute;
	border-radius: 40px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
	border: 0px;
	padding: 10px 50px;
	background-color: #3c84f8;
	color: white;
	outline: none;
	font-family: 'Crimson Pro', sans-serif;
	font-size: 20px;
	cursor: pointer;
	transition-duration: 0.4s;
}

button:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}

.title{
	position: absolute;
	padding-left: 10px;
	top: 30%;
	left: 50%;
	transform: translate(-50%, 50%);
	font-weight: 700;
	font-size: 50px;
	color: #F8F9FA;
}